.formulario-con-borde {
  border: 1px solid #3C644C;
  margin: 20px;
  padding: 20px;
  color: #333333;
  background-color: #69c6b3;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  width: 50%;
}

h1 {
  text-align: center;
  font-weight: 500;
  background-image: linear-gradient(45deg, #3f9a3c, #762bee);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  margin: 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

label {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: darkslategrey;
}

.crear {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn.btn-success.crear {
  background-color: rgb(29, 129, 132);
  color: white;
  font-size: 1rem;
}

.btn.btn-success.crear:hover {
  background-color: rgb(29, 129, 132);
}

.btn.btn-success.crear:active {
  background-color: rgb(24, 107, 110);
}