body {
  font-family: 'Nunito', sans-serif;
  background-color: #E2E1CD;
}

p {
  text-align: justify;
}

.navbar-custom-color {
  /* background-color: #6D732C !important; */
  background-color: #3C644C;
}

.navbar-custom-text-color .navbar-nav .nav-link {
  /* color: #E2E1CD; */
  color: white;
}

.navbar-custom-text-color .navbar-nav .nav-link:hover {
  color: #A3AC44; /* Color Fuente */
}
.container {
  padding: 20px;
}
