body {
  margin-top: 55px;
  /* Ajusta este valor según la altura de tu barra de navegación */
  font-family: 'Nunito', sans-serif;
  /* background-color: #2eafc4; */
  background-color: #51c8da;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Esto asegura que la barra de navegación esté siempre en la parte superior de otros elementos */
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
  /* Puedes ajustar este valor según tus preferencias */
}

p {
  text-align: justify;
}

.navbar-custom-color {
  /* background-color: #4f7d96; */
  background-color: #0e8aac;
}

.navbar-custom-text-color .navbar-nav .nav-link {
  color: white;
}

.navbar-custom-text-color .navbar-nav .nav-link:hover {
  color: #000000;
  font-size: 1.25rem;
}

/* Estilos para el botón de login */
.btn-login {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #d9d9d9;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn-login:hover {
  background-color: #bfbfbf;
  color: #ffffff;
}

.btn-login:active {
  background-color: #a6a6a6;
}

.btn-login:focus {
  outline: none;
}

/* Estilos para el botón "Crear cuenta" */
.btn-create-account {
  display: inline-block;
  padding: 8px 16px;
  margin-left: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #2d536a;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn-create-account:hover {
  background-color: #1c3546;
  color: #ffffff;
}

.btn-create-account:active {
  background-color: #0d1a23;
}

.btn-create-account:focus {
  outline: none;
  /* Evita que aparezca el borde al enfocar el botón */
}


/* Estilos para el botón de "Logout" */
.btn-logout {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #3498DB;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn-logout:hover {
  background-color: #217dbb;
}

.btn-logout:active {
  background-color: #125b8c;
}

.btn-logout:focus {
  outline: none;
}

.container {
  padding: 20px;
}

.not-visible {
  display: none;
}

.ave-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-link.username {
  margin-left: 50px;
  margin-right: 0%;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

img {
  border-radius: 10px 10px;
}