{% extends 'base.html' %}
{% block title %}
<title>Sobre Appves</title>
{% endblock %}

{% load static %}

{% block content %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/appves/about.css' %}">
{% endblock %}

<h1>Sobre Appves</h1>
<p>La observación de aves en libertad es una actividad que con los años gana cada vez más adeptos ya que sólo en la Ciudad de Buenos Aires existen cerca de 300 especies de aves distintas y en el país cerca de 1000 especies. Aunque existe una gran diversidad de guías de bolsillo, si son muy completas son demasiado grandes para llevar a todos lados, o si son cómodas para el transporte probablemente carezcan de información. Este proyecto busca generar una guía de identificación de aves que permita englobar la información de diversas guías de bolsillo para así poder identificar las aves que se encuentran en todo el país, ya sea a través de fotos, o distintos rasgos. Está pensada para cualquier persona que este iniciándose en este hobby o ya tenga cierta experiencia.</p>

<p>A su vez Appves cuenta con una sección que brinda información sobre las características de las aves asi como su canto o distribución dentro del país, lo que te permitirá conocer más sobre estas fascinantes especies. También podrás loguearte para cargar tus propias listas de observación.</p>

<p>Appves es una aplicación colaborativa, lo que significa que, dependiendo del nivel de usuario, podrás cargar fichas de aves para agrandar la base de datos. De esta manera, podrás contribuir a enriquecer la aplicación y hacerla aún más completa.</p>
{% endblock %}