{% extends 'base.html' %}
{% block title %}
<title>Sobre Appves</title>
{% endblock %}

{% load static %}

{% block content %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/appves/about.css' %}">
{% endblock %}

<h1>Sobre Appves</h1>
<p>Appves es una aplicación web que tiene como objetivo acercar la naturaleza a los usuarios a través de una guía de aves. Con esta aplicación web, podrás conocer las distintas especies de aves de Argentina a través de fichas detalladas que se irán cargando progresivamente.</p>

<p>Además, Appves cuenta con una sección que brinda información sobre las características y morfología de las aves, lo que te permitirá conocer más sobre estas fascinantes especies. También podrás loguearte para cargar tus propias listas de observación y, en caso de poseer fotografías o sonido, asociarlas a la observación.</p>

<p>Pero eso no es todo. Appves es una aplicación colaborativa, lo que significa que, dependiendo del nivel de usuario, podrás cargar fichas de aves para agrandar la base de datos. De esta manera, podrás contribuir a enriquecer la aplicación y hacerla aún más completa.</p>

<p>Además, Appves es una herramienta ideal para los amantes de la naturaleza y los observadores de aves, ya que les permitirá conocer más sobre estas especies y fomentar la conciencia ambiental. También es una herramienta útil para la conservación de las aves, ya que permite conocer más sobre su hábitat y comportamiento.</p>

<p>En resumen, Appves es una aplicación web completa y colaborativa que te permitirá conocer más sobre las aves de Argentina y fomentar la conciencia ambiental.</p>

{% endblock %}