{% extends "base.html" %}
{% block title %}
    <title>Ecorregiones</title>
{% endblock title %}
{% load static %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/appves/biomas.css' %}">
    {% endblock styles %}
    <h1>Ecorregiones</h1>
    <p>
        Las ecorregiones son territorios que comparten características ambientales similares y albergan comunidades naturales o seminaturales con especies y dinámicas ecológicas compartidas. En Argentina, se han identificado 18 ecorregiones, 17 en el continente americano y una en el continente antártico, que es la Antártida.
    </p>
    <p>
        La Antártida es una ecorregión que comprende el Sector Antártico Argentino y las islas ubicadas por debajo del paralelo de 60º Sur, como las Orcadas y las Shetlands del Sur.
    </p>
    <ul class="ul-block">
        {% for pregunta in biomas_data.preguntas %}
            <li>
                <a href="#" class="question-link" data-answer="{{ pregunta.respuesta }}">{{ pregunta.pregunta }}</a>
            </li>
        {% endfor %}
    </ul>
    <div id="map">
        <div id="mapa"></div>
        <script type="text/javascript" src="{% static 'js/limites_ecorregiones.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/biomas.js'%}"></script>
        <script src="{% static 'js/modal.js' %}"></script>
    </div>
{% endblock content %}
