{% extends 'base.html' %}

{% block title %}
    <title>Ecorregiones</title>
{% endblock %}

{% load static %}



{% block content %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/appves/biomas.css' %}">
{% endblock %}

<h1>Ecorregiones</h1>

<p>Las ecorregiones o biomas son territorios geográficos en los que predomina un ecosistema compartiendo características de clima, suelo, flora, fauna y paisaje entre otras cosas.</p>

<p>Argentina cuenta con 18 ecorregiones lo cual nos posiciona como uno de los países mas rícos en biodiversidad.</p>

<ul class="ul-block">
<li>ALTOS ANDES</li>
<li>ANTÁRTIDA</li>
<li>BOSQUES PATAGÓNICOS</li>
<li>CAMPOS Y MALEZALES</li>
<li>CHACO HÚMEDO</li>
<li>CHACO SECO</li>
<li>DELTA E ISLAS DEL PARANÁ</li>
<li>ESPINAL</li>
<li>ESTEPA PATAGÓNICA</li>

<li>ESTEROS DEL IBERÁ</li>
<li>ISLAS DEL ATLÁNTICO SUR</li>
<li>MAR ARGENTINO</li>
<li>MONTE DE LLANURAS Y MESETAS</li>
<li>MONTE DE SIERRAS Y BOLSONES</li>
<li>LAS PAMPAS</li>
<li>PUNA</li>
<li>SELVA PARANAENSE</li>
<li>YUNGAS</li>
</ul>


<img class="center" src="https://www.argentina.gob.ar/sites/default/files/ecorregiones_-_argentina.jpg" alt="Ecorregiones_Argentina">
{% endblock %}