{% extends 'base.html' %}
{% block title %}
    <title>Confirmación de eliminación</title>
{% endblock %}

{% load static %}

{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/appves/bird_confirm_delete.css' %}">
{% endblock %}
<h1>Confirmación de eliminación</h1>

<form method="POST">
    {% csrf_token %}
    <p><strong>Seguro que desea eliminar el registro {{object}}?</strong></p>
    <button type="submit" class="btn btn-danger">Confirmar</button>
    <a href="{% url 'list_birds' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
