{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Detalle de ave</title>
{% endblock title %}
{% block head %}
    {% block scripts %}
        <script src="{% static 'js/mapa-api.js' %}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    {% endblock scripts %}
{% endblock head %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/appves/detalle_ave.css' %}">
    {% endblock styles %}
    <script type="application/json">const nombreCientifico = {{ ave.nombre_cientifico }};</script>
    <div class="contenedor">
        <h1 class="text-center mb-4">
            <strong>{{ ave.nombre }}</strong>
        </h1>
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#home"
                        type="button"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true">Descripción</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="profile-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#audio"
                        type="button"
                        role="tab"
                        aria-controls="audio"
                        aria-selected="false">Audio</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        {% comment %}
                        id="contact-tab"
                        {% endcomment %}
                        id="nav-mapa"
                        data-bs-toggle="tab"
                        data-bs-target="#mapa"
                        type="button"
                        role="tab"
                        aria-controls="mapa"
                        aria-selected="false">Mapa</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            {% comment %} IMAGEN - DESCRIPCION {% endcomment %}
            <div class="tab-pane fade show active"
                 id="home"
                 role="tabpanel"
                 aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-12 col-sm-12 p-2">
                        <img src="{{ ave.imagen.url }}"
                             class="bird-image imagen-arriba"
                             alt="Image"
                             width="475px"
                             height="375px">
                    </div>
                    <div class="col-md-12 col-sm-12 p-2">
                        <ul class="d-flex flex-column justify-content-center">
                            <li id="aveData" data-nombre-cientifico="{{ ave.nombre_cientifico }}">
                                <strong>Nombre Científico:</strong> {{ ave.nombre_cientifico }}
                            </li>
                            <li>
                                <strong>Nombre en Inglés:</strong> {{ ave.nombre_ingles }}
                            </li>
                            <li>
                                <strong>Familia:</strong> {{ ave.familia }}
                            </li>
                            <li>
                                <strong>Descripción:</strong> {{ ave.descripcion }}
                            </li>
                            <li>
                                <strong>Tamaño:</strong> {{ ave.tamanio }}
                            </li>
                            <li>
                                <strong>Habitat:</strong> {{ ave.habitat }}
                            </li>
                            <li>
                                <strong>Voz:</strong> {{ ave.voz }}
                            </li>
                            <li>
                                <strong>Alimentación:</strong> {{ ave.alimentacion }}
                            </li>
                            <li>
                                <strong>Reproducción:</strong> {{ ave.cria }}
                            </li>
                            <li>
                                <strong>Movimientos Estacionales:</strong> {{ ave.movimientos_estacionales }}
                            </li>
                            <li>
                                <strong>Estado de Conservación:</strong> {{ ave.status_conservacion }}
                            </li>
                            <li>
                                <strong>Largo del pico:</strong> {{ ave.largo_pico }}
                            </li>
                            <li>
                                <strong>Largo de las patas:</strong> {{ ave.largo_patas }}
                            </li>
                            <li>
                                <strong>Forma de las alas:</strong> {{ ave.forma_alas }}
                            </li>
                            <li>
                                <strong>Largo del cuello:</strong> {{ ave.largo_cuello }}
                            </li>
                            <li>
                                <strong>Cuello en vuelo:</strong> {{ ave.cuello_vuelo }}
                            </li>
                            <li>
                                <strong>Largo de la cola:</strong> {{ ave.largo_cola }}
                            </li>
                            <li>
                                <strong>Forma de la cola:</strong> {{ ave.forma_cola }}
                            </li>
                            <li>
                                <strong>Patrón de coloración:</strong> {{ ave.patron_coloracion }}
                            </li>
                            <li>
                                <strong>Cabeza:</strong> {{ ave.cabeza }}
                            </li>
                            <li>
                                <strong>Grupo:</strong> {{ ave.grupo }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% comment %} AUDIO {% endcomment %}
            <div class="tab-pane fade"
                 id="audio"
                 role="tabpanel"
                 aria-labelledby="audio-tab">
                <div class="audio-player">
                    {% if ave.audio %}
                        <audio controls>
                            <source src="{{ ave.audio.url }}" type="audio/mpeg">
                            <source src="{{ ave.audio.url }}" type="audio/wav">
                            Tu navegador no soporta la reproducción de audio.
                        </audio>
                    {% else %}
                        <p>No hay archivo de audio asociado.</p>
                    {% endif %}
                </div>
            </div>
            {% comment %} AUDIO {% endcomment %}
            <div class="tab-pane fade"
                 id="mapa"
                 role="tabpanel"
                 aria-labelledby="mapa-tab">
                <div id="map" class="map"></div>
            </div>
            <div class="text-center">
                <a href="{% url 'list_birds' %}" type="button" class="btn btn-success">Volver</a>
            </div>
        </div>
    </div>
{% endblock content %}
