{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Detalle de ave</title>
{% endblock title %}
{% block head %}
    {% block scripts %}
        {% comment %} BOOTSTRAP {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
        {% comment %} FIN - BOOTSTRAPS {% endcomment %}
        {% comment %} BOOTSTRAP {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
        {% comment %} Fin - BOOTSTRAP {% endcomment %}
        {% comment %} <script src="{% static 'js/mapa-api.js' %}" defer></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script> {% endcomment %}
        {% comment %} <script src="{% static 'js/reproductor.js' %}" defer></script> {% endcomment %}
    {% endblock scripts %}
{% endblock head %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/appves/detalle_ave.css' %}">
    {% endblock styles %}
    <script type="application/json">const nombreCientifico = {{ ave.nombre_cientifico }};</script>
    <div class="container">
        <h1 class="text-center mb-4">
            <strong>{{ ave.nombre }}</strong>
        </h1>
        {% comment %} INICIO {% endcomment %}
        <ul class="nav nav-tabs justify-content-center"
            id="myTabs"
            role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="text-tab"
                        data-bs-toggle="tab"
                        type="button"
                        role="tab"
                        aria-controls="text"
                        aria-selected="true">Descripción</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="audio-tab"
                        data-bs-toggle="tab"
                        type="button"
                        role="tab"
                        aria-controls="audio"
                        aria-selected="false">Audio</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="maps-tab"
                        data-bs-toggle="tab"
                        type="button"
                        role="tab"
                        aria-controls="maps"
                        aria-selected="false">Mapa</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active"
                 id="text"
                 role="tabpanel"
                 aria-labelledby="text-tab">
                <!-- Aquí va el contenido de texto -->
                <h1>Descripción</h1>
            </div>
            <div class="tab-pane fade"
                 id="audio"
                 role="tabpanel"
                 aria-labelledby="audio-tab">
                <!-- Aquí va el contenido de audio -->
                <h1>Audio</h1>
            </div>
            <div class="tab-pane fade"
                 id="maps"
                 role="tabpanel"
                 aria-labelledby="maps-tab">
                <!-- Aquí va el contenido del mapa Leaflet -->
                <h1>Mapa</h1>
            </div>
        </div>
        {% comment %} FIN {% endcomment %}
        <div class="text-center">
            <a href="{% url 'list_birds' %}" type="button" class="btn btn-success">Volver</a>
        </div>
    </div>
{% endblock content %}
