{% extends "base.html" %}
{% block title %}
    <title>Detalle de avistaje</title>
{% endblock title %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="{% static 'js/avistaje.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet"
              href="{% static 'css/appves/detalle_avistaje.css' %}">
    {% endblock styles %}
    <div class="contenedor">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen de Ave</th>
                    <th scope="col">Nombre de Ave</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">
                        <input type="checkbox" name="mapa" value="all">
                        <label>Ver en mapa</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ave in avistaje %}
                    <tr>
                        <td scope="row" class="cantidad">{{ forloop.counter }}</td>
                        <td>
                            <img src="{{ ave.id_ave.imagen.url }}"
                                 class="ave-img"
                                 width=""
                                 height=""
                                 alt="Imagen">
                        </td>
                        <td class="nombre">{{ ave.id_ave.nombre }}</td>
                        <td class="cantidad">{{ ave.cantidad }}</td>
                        <td>
                            <input type="checkbox"
                                   name="ver[]"
                                   value="{{ ave.latitud }}, {{ ave.longitud }}">
                        </td>
                        <td><a href="{% url 'eliminar_linea_avistaje' ave.id_avistaje_id ave.id %}" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="map" class="not-visible"></div>
        <div class="boton-volver">
            <a href="{% url 'listar_avistajes' %}" type="button" class="btn btn-success">Volver</a>
        </div>
    </div>
{% endblock content %}
