{% extends 'base.html' %}
{% block title %}
<title>Familias de Aves</title>
{% endblock %}
{% load static %}

{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/appves/familias.css' %}">
{% endblock %}

<h1>Familias de aves presentes en Argentina</h1>

<ul class="ul-block">

    {% for palabra in palabras %}
    {{ palabra }}
    {% endfor %}

</ul> 


{% comment %} <table class="table">
  <tr>
    {% for palabra in palabras %}
      <td class="table-cell">{{ palabra }}</td>
      {% if forloop.counter|divisibleby:5 %}
        </tr><tr> <!-- Cierra la fila y abre una nueva fila cada 5 elementos -->
      {% endif %}
    {% endfor %}
  </tr>
</table> {% endcomment %}

{% endblock %}