{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/appves/home.css' %}">
    {% endblock styles %}
    <div class="contenedor-texto">
        <div class="texto">
            <h1>Appves</h1>
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>{% include "../carousel.html" %}</div>
    <div>{% include "appves/buscar_ave.html" %}</div>
{% endblock content %}