{% extends "base.html" %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% load static %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/appves/home.css' %}">
    {% endblock styles %}
    <h1>Appves</h1>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Make the image fully responsive */
    
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
    </style>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../media/bird_images/banner_home/cardenalrojo.jpg"
                     alt="slide one"
                     width="1100"
                     height="500">
                <div class="carousel-caption">
                    <h3>Cardenal copete rojo</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../media/bird_images/banner_home/saira.jpg"
                     alt="slide two"
                     width="1100"
                     height="500">
                <div class="carousel-caption">
                    <h3>Saíra arcoríris</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../media/bird_images/banner_home/taguato.jpg"
                     alt="slide three"
                     width="1100"
                     height="500">
                <div class="carousel-caption">
                    <h3>Taguató</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../media/bird_images/banner_home/brasita.jpg"
                     alt="slide four"
                     width="1100"
                     height="500">
                <div class="carousel-caption">
                    <h3>Brasita de fuego</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../media/bird_images/banner_home/cotorra.jpeg"
                     alt="slide five"
                     width="1100"
                     height="500">
                <div class="carousel-caption">
                    <h3>Cotorra</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% include "appves/buscar_ave.html" %}
{% endblock content %}
