{% extends 'base.html' %}

{% load static %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/appves/listar_aves.css' %}">
{% endblock %}

<h1 style="text-align: center;">Fichas de Aves de la República Argentina</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for ave in aves %}
    <div class="col">
        <div class="card h-100 card-hover">
            <img src="../media/{{ ave.imagen }}" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">{{ ave.nombre }}</h5>
                <div class="custom-center">
                    <a href="{% url 'list_birds' %}" class="btn btn-success">Ver ficha</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}