{% extends 'base.html' %}
{% block title %}
<title>Fichas de Aves</title>
{% endblock %}
{% load static %}

{% block content %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/appves/listar_aves.css' %}">
{% endblock %}

<h1>Fichas de Aves de la República Argentina</h1>

<div class="row row-cols-1 row-cols-md-3 g-3">
    {% for ave in aves %}
<div class="card-container">
    <div class="card h-100 card-hover custom-card">
        <div class="card-img-container">
            <img src="{{ ave.imagen.url }}" class="card-img custom-img">
        </div>
        <div class="card-body">
            <h5 class="card-title custom-title">{{ ave.nombre }}</h5>
            <div class="custom-center button-container">
                <a href="{% url 'detail_birds' ave.id %}" class="btn btn-success">Ver ficha</a>
                {%if user.is_authenticated %}
                <a href="{% url 'edit_bird' ave.id %}" class="btn btn-secondary">Editar</a>
                <a href="{% url 'delete_bird' ave.id %}" class="btn btn-danger">Eliminar</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

</div>

{% endblock %}