{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Lugares para observar aves</title>
{% endblock title %}
{% block content %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/appves/lugares.css' %}">
{% endblock %}

<h1>Lugares para observar aves</h1>


<p>Algunos sitios recomendados para la observación de aves en Argentina, están marcados los parques nacionales, provinciales y algunos sitios considerados como AICAs (Áreas de importancia para la Conservación de las Aves)</p>



<div id="map" style="height: 600px; position: relative;">
  
  <div id='mapa' style="height:500px;"></div>
  
  <script type="text/javascript" src="{% static 'js/limites_provinciales.js'%}"></script>
  
  <script type="text/javascript" src="{% static 'js/lugares.js'%}"></script>
</div>
{% endblock content %}
