{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Preguntas frecuentes</title>
{% endblock title %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet"
              href="{% static 'css/appves/preguntas_frecuentes.css' %}">
    {% endblock styles %}
    <div class="mx-auto cont-form col-md-11 formulario-con-borde">
        <h1>Preguntas frecuentes</h1>
        <ol>
            {% for pregunta in faq_data.preguntas %}
                <li>
                    <a href="#" class="question-link" data-answer="{{ pregunta.respuesta }}">{{ pregunta.pregunta }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock content %}
