{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Topografía de Aves</title>
{% endblock title %}
{% block content %}
  <body>
    {% block styles %}
      <link rel="stylesheet" href="{% static 'css/appves/topografia.css' %}">
    {% endblock styles %}
    <h1>Topografía de las aves</h1>
    <h2 class="label">¿Qué es la topografía de las aves?</h2>
    <p>
      La topografía de las aves es el estudio de las partes externas del cuerpo de las aves. El conocimiento de la topografía de las aves es importante para la identificación de las especies, ya que las características de las partes externas del cuerpo de las aves son únicas para cada especie.
    </p>
    <img class="center"
         src="https://i.imgur.com/7YAJO0v.png"
         alt="topografia de las aves"
         width=""
         height="">
  </body>
{% endblock content %}
