{% extends 'base.html' %}

{% block content %}

<h1>Sobre Appves</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in maxime, culpa eaque repudiandae accusantium ex nam totam voluptas modi facere doloribus, quidem vero fugiat omnis mollitia et nihil perferendis officiis ipsa. Voluptas ipsum mollitia libero accusantium porro cumque quos. Placeat ex excepturi perferendis ab nulla dolores rerum numquam nesciunt quos dignissimos quo ratione nisi eligendi non temporibus, nihil unde error. Ratione, architecto molestias harum voluptate et ipsam? Assumenda ea ab quia velit quisquam obcaecati tempore illo quidem atque, voluptatem vitae quae ad sequi excepturi soluta optio iusto inventore, pariatur quasi doloribus dolorem. Eveniet reiciendis quas modi aliquam, incidunt eaque.</p>

{% endblock %}