{% extends 'base.html' %}

{% block content %}

<h1>Familias de aves presentes en Argentina</h1>

<ul>
    <li>Tinamidae</li>
    <li>Rheidae</li>
    <li>Cracidae</li>
    <li>Psittacidae</li>
    <li>Struthionidae</li>
    <li>Phoenicopteridae</li>
    <li>Anhingidae</li>
    <li>Ardeidae</li>
    <li>Threskiornithidae</li>
    <li>Cathartidae</li>
    <li>Pandionidae</li>
    <li>Accipitridae</li>
    <li>Falconidae</li>
    <li>Odontophoridae</li>
    <li>Numididae</li>
    <li>Phasianidae</li>
    <li>Podicipedidae</li>
    <li>Phalacrocoracidae</li>
    <li>Anatidae</li>
    <li>Diomedeidae</li>
    <li>Procellariidae</li>
    <li>Sulidae</li>
    <li>Phaethontidae</li>
    <li>Ardeidae</li>
    <li>Threskiornithidae</li>
    <li>Cathartidae</li>
    <li>Fregatidae</li>
    <li>Phalacrocoracidae</li>
    <li>Charadriidae</li>
    <li>Haematopodidae</li>
    <li>Recurvirostridae</li>
    <li>Rostratulidae</li>
    <li>Haematopodidae</li>
    <li>Scolopacidae</li>
    <li>Laridae</li>
    <li>Columbidae</li>
    <li>Psittacidae</li>
    <li>Cuculidae</li>
    <li>Trochilidae</li>
    <li>Apodidae</li>
    <li>Trogonidae</li>
    <li>Bucconidae</li>
    <li>Momotidae</li>
    <li>Galbulidae</li>
    <li>Ramphastidae</li>
    <li>Podargidae</li>
    <li>Cuculidae</li>
    <li>Strigidae</li>
    <li>Caprimulgidae</li>
    <li>Nyctibiidae</li>
    <li>Aegothelidae</li>
    <li>Apodidae</li>
    <li>Hemiprocnidae</li>
    <li>Trochilidae</li>
    <li>Coliidae</li>
    <li>Coraciidae</li>
    <li>Brachypteraciidae</li>
    <li>Alcedinidae</li>
    <li>Megalaimidae</li>
    <li>Meropidae</li>
    <li>Upupidae</li>
    <li>Bucerotidae</li>
    <li>Phoeniculidae</li>

</ul>

{% endblock %}