{% load static %}
<footer class="text-center text-white">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="{% static 'images/001.jpg' %}"
                         alt="Imagen 1"
                         class="w-100"
                         width=""
                         height="" />
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="{% static 'images/002.jpg' %}"
                         alt="Imagen 2"
                         class="w-100"
                         width=""
                         height="" />
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="{% static 'images/003.jpg' %}"
                         alt="Imagen 3"
                         class="w-100"
                         width=""
                         height="" />
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="{% static 'images/004.jpg' %}"
                         alt="Imagen 4"
                         class="w-100"
                         width=""
                         height="" />
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="{% static 'images/005.jpg' %}"
                         alt="Imagen 5"
                         class="w-100"
                         width=""
                         height="" />
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="{% static 'images/006.jpg' %}"
                         alt="Imagen 1"
                         class="w-100"
                         width=""
                         height="" />
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center text-green desarrollo p-3 mt-4">
            Equipo de Desarrollo: Manuel Jigena - Gonzalo Roget - Fernando Warno -
            Año: 2023
        </div>
    </div>
</footer>
