{% extends 'base.html' %}

{% block content %}

<h1>Glosario</h1>

<ul>
    <li><strong>Ave:</strong> Animal vertebrado que pertenece a la clase Aves, caracterizado por tener plumas y alas.</li>
    <li><strong>Ornitológico:</strong> Relativo al estudio científico de las aves, incluyendo su taxonomía, comportamiento, distribución y características.</li>
    <li><strong>Plumaje:</strong> Conjunto de plumas que cubren el cuerpo de un ave.</li>
    <li><strong>Ala:</strong> Extremidad delantera de un ave, adaptada para el vuelo.</li>
    <li><strong>Pico:</strong> Estructura córnea que se encuentra en la cabeza de las aves y que utilizan para alimentarse.</li>
    <li><strong>Anidar:</strong> Acción de construir un nido para depositar los huevos y criar a los polluelos.</li>
    <li><strong>Migración:</strong> Desplazamiento estacional de las aves entre diferentes áreas geográficas en busca de mejores condiciones de alimentación y reproducción.</li>
    <li><strong>Endémico:</strong> Especie que se encuentra exclusivamente en una región geográfica determinada y no se encuentra de forma natural en ningún otro lugar.</li>
    <li><strong>Depredador:</strong> Animal que se alimenta de otros animales, conocidos como presas.</li>
    <li><strong>Presa:</strong> Animal capturado y utilizado como alimento por un depredador.</li>
    <li><strong>Plumaje nupcial:</strong> Plumaje especial y colorido que los machos de algunas especies de aves desarrollan durante la temporada de reproducción para atraer a las hembras.</li>
    <li><strong>Canto:</strong> Sonido característico producido por las aves, utilizado para la comunicación y el establecimiento de territorios.</li>
    <li><strong>Especies en peligro de extinción:</strong> Aves que se encuentran en riesgo de desaparecer debido a factores como la destrucción del hábitat, la caza ilegal o la introducción de especies exóticas.</li>
    <li><strong>Hábitat:</strong> Lugar o tipo de ambiente en el cual una especie de ave vive y encuentra los recursos necesarios para sobrevivir.</li>
    <li><strong>Biodiversidad:</strong> Variedad de especies de aves y otros seres vivos presentes en un ecosistema o región geográfica.</li>
  </ul>

{% endblock %}