.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 30px auto 0 auto;
  border-radius: 10px;
  border: 1px solid #3C644C;
  padding: 20px;
  color: #333333;
  background-color: #d0ccb8;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.custom-select {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 500;
  background-image: linear-gradient(45deg, #333333, #333333);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

label {
  font-size: 1.15rem !important;
  font-weight: bold;
  color: darkslategrey;
  text-align: center;
}

.detalle_titulo {
  text-align: center;
  background-image: linear-gradient(45deg, #333333, #333333);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-buscador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-detalle {
  border-radius: 10px;
  border: 1px solid #3C644C;
  margin: 20px;
  padding: 20px;
  color: #333333;
  background-color: #f3ffce;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

#map {
  height: 1100px;
  width: 100%;
  border: 1px solid #3C644C;
  border-radius: 10px;
}

.my-marker div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.titulo-ave {
  display: none;
}

.detalle-ave {
  display: none;
}

/* Estilo para ocultar los contenedores hasta que se cargue la información */
#detalle,
#especies {
  display: none;
}