h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 500;
  background-image: linear-gradient(45deg, #3f9a3c, #762bee);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.ul-block {
  column-count: 5; /* Establece el número de columnas */
  column-gap: 70px; /* Establece el espacio entre las columnas */
  column-rule: 2px solid #ccc;
  color: darkslategrey;
  font-size: 120%;
  font-weight: bold;
  list-style: none;
  padding-left: 0px;
}