h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 500;
  background-image: linear-gradient(45deg, #3f9a3c, #762bee);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.glosario-list {
  color: darkslategrey;
  font-size: 150%;
  text-align: justify;
}