.card-fichas {
  margin: 20px;
  padding: 20px;
  color: #333333;
  background-color: #d0ccb8;
  border: 1px solid #3C644C;
  border-radius: 20px;
  /* box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1), 0px 5px 15px 0px rgba(0, 0, 0, 0.35); */
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-card {
  border: 1px solid #3C644C;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 47px;
  font-weight: 500;
  color: darkslategrey;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
}

img.card-img.custom-img {
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3C644C;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.card {
  background-color: #9eafa2;
}

.custom-title {
  color: darkslategrey;
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
}

.container-head {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}

.crear {
  margin-left: 55px;
  display: inline;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

/* BOTON SOLO */
.card-body {
  text-align: center;
}

.card-body .button-container a.btn-success.solo {
  display: inline-block;
  margin: 0 auto;
}

.btn.btn-success.crear {
  background-color: rgb(29, 129, 132);
  color: white;
  font-size: 1.25rem;
}

.btn.btn-success.crear:hover {
  background-color: rgb(29, 129, 132);
}

.btn.btn-success.crear:active {
  background-color: rgb(24, 107, 110);
}

.btn.btn-success.solo {
  background-color: #2d536a;
  background-color: #4f7d96;
}

.btn.btn-success.solo:active {
  background-color: #16394f;
}

.btn.btn-success {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn.btn-secondary {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn.btn-danger {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}