.formulario-con-borde {
    border: 1px solid #3C644C;
    margin: 20px;
    padding: 20px;
    color: #333333;
    background-color: silver;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

h1 {
    text-align: left;
    margin-bottom: 30px;
    font-weight: 500;
    background-image: linear-gradient(45deg, #3f9a3c, #762bee);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}