body {
    background-image: url("../../images/fondo_topografia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 500;
    background-image: linear-gradient(45deg, #3f9a3c, #762bee);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.label {
    font-size: 150% !important;
    font-weight: bold;
    color: darkslategrey;
    text-align: left;
    margin-bottom: 20px;
}

p {
    font-size: 150%;
    text-align: justify;
    color: darkslategrey;
}

.center {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}