{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Contacto</title>
{% endblock title %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/user/contacto.css' %}">
    {% endblock styles %}
    <div class="contenedor">
        <form class="form-col">
            {% csrf_token %}
            <h1>Contacto</h1>
            <div class="form-row">
                <label for="nombre">Nombre</label>
                <input type="text"
                    class="form-control"
                    name="nombre"
                    placeholder=""
                    required
                    autofocus>
            </div>
            <div class="form-row">
                <label for="username">Username</label>
                <input type="text"
                    class="form-control"
                    name="username"
                    placeholder="">
            </div>
            <div class="form-row">
                <label for="femail">Email</label>
                <input type="email"
                    id="femail"
                    name="email"
                    class="form-control"
                    required>
            </div>
            <div class="form-row">
                <label for="mensaje">Mensaje</label>
                <textarea id="fmensaje"
                        name="mensaje"
                        class="form-control"
                        placeholder="-- Ingresa un mensaje --"
                        required></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success mt-3">
            </input>
        </div>
    </form>
</div>
{% endblock content %}