{% extends "base.html" %}
{% load static %}
{% block content %}
{% block styles %}
        <link rel="stylesheet"
              href="{% static 'css/user/crear_lista.css' %}">
    {% endblock styles %}
    <div class="mx-auto cont-form col-md-11 formulario-con-borde">
        <h1>Crear lista de avistaje</h1>
        <form class="form" method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="not-visible">{{ form.id_user }}</div>
            <div>Nombre del avistaje{{ form.label.nombre_avistaje }}</div>
            <div>{{ form.nombre_avistaje }}</div>
            <div>Fecha y hora: {{ form.label.fecha_creacion }}</div>
            <div>{{ form.fecha_creacion }}</div>
            <button class="btn btn-success mt-3">Crear</button>
        </form>
    </div>
{% endblock content %}
