{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Crear cuenta</title>
{% endblock title %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/user/create_user.css' %}">
    {% endblock styles %}
    <div class="contenedor">
        <h1 class="cont-titulo">Crear cuenta</h1>
        {% if messages %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        <form class="cont-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="emailRegister">Email</label>
                <input type="email"
                       id="emailRegister"
                       name="email"
                       class="form-control smaller-input"
                       required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control smaller-input"
                       maxlength="150"
                       required>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password"
                       id="password1"
                       name="password1"
                       class="form-control smaller-input"
                       required>
            </div>
            <div class="form-group">
                <label for="password2">Confirmar password</label>
                <input type="password"
                       id="password2"
                       name="password2"
                       class="form-control smaller-input"
                       required>
            </div>
            <div class="form-group">
                <label for="id_province">Provincia</label>
                <select id="id_province" name="province" class="form-control smaller-input">
                    <option value="">-- Selecciona una provincia --</option>
                    {% for province in form.province.field.queryset %}
                        <option value="{{ province.pk }}"
                                {% if province.pk == form.province.value %}selected{% endif %}>{{ province }}</option>
                    {% endfor %}
                </select>
                {{ form.province.errors }}
            </div>
            <div class="form-group">
                <label for="id_image">Imagen</label>
                <input id="id_image"
                       type="file"
                       name="image"
                       class="form-control smaller-input">
                {{ form.image.errors }}
            </div>
            <button type="submit" class="btn btn-success mt-4">Crear cuenta</button>
        </form>
    </div>
{% endblock content %}
