{% extends "base.html" %}
{% load static %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/user/crear_lista.css' %}">
    {% endblock styles %}
    <div class="mx-auto cont-form col-md-11 formulario-con-borde">
        <h1>Crear avistaje</h1>
        <form class="form" method="post">
            {% csrf_token %}
            <div class="not-visible">{{ form.id_user }}</div>
            <div class="form-group">
                <label for="{{ form.nombre_avistaje.id_for_label }}">Nombre del avistaje</label>
                <input type="text"
                       class="form-control"
                       id="{{ form.nombre_avistaje.id_for_label }}"
                       name="{{ form.nombre_avistaje.html_name }}">
            </div>
            <div class="form-group">
                <label for="{{ form.fecha_creacion.id_for_label }}">Fecha y hora</label>
                <input type="datetime-local"
                       class="form-control"
                       id="{{ form.fecha_creacion.id_for_label }}"
                       name="{{ form.fecha_creacion.html_name }}"
                       value="{{ form.initial.fecha_creacion|default:'' }}">
            </div>
            <button class="btn btn-success mt-3 crear">Crear</button>
        </form>
    </div>
{% endblock content %}
