{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock title %}
{% block content %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/user/login_user.css' %}">
    {% endblock styles %}
    <div class="contenedor">
        <h1 class="cont-titulo">Login</h1>
        <form class="cont-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text"
                   class="form-control smaller-input"
                   name="username"
                   placeholder=""
                   required>
            <label for="password">Password</label>
            <input type="password"
                   class="form-control smaller-input"
                   name="password"
                   placeholder=""
                   required>
            <button class="btn btn-success mt-4" type="submit">Login</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    {% if "error" in message.tags %}
                        <script>
                            swal.fire({
                                title: "Error",
                                text: "{{ message }}",
                                icon: "error",
                                timer: 4000
                            });
                        </script>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
