{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Quiénes somos?</title>
{% endblock %}
{% block content %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/user/quienes.css' %}">
{% endblock %}
<h1>Quiénes somos</h1>

<p>Somos un grupo de compañeros del Instituto de Formación Técnica Superior N° 18 <a href="https://www.ifts18.edu.ar/">(IFTS 18)</a>. <br><br>Nos conocimos estudiando Tecnicatura en Análisis de Sistemas y esta webapp es nuestro trabajo final. Esperamos sea de su agrado.</p>

<ul>
    <li class="name">Manuel Jigena</li>
    <li class="name">Gonzalo Roget</li>
    <li class="name">Fernando Warno</li>
</ul>
{% endblock %}